<div class="card-body">
    <div class="form-outline md-12 mb-4 row justify-content-center">
      <img
        src="../images/programming pepe.jpg"
        class="img-fluid col-md-5"
        id="preview"
      />

      <div id="table-label" class="col-form-label col-md-5" id="image">
        <div class="border rounded-lg text-center p-1">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <td>SpiderMan</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Description</th>
                <td>
                  ########## ########## ########## ########## ##########
                </td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Release Date</th>
                <td>01/01/2023</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Duration</th>
                <td>120 min</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Genre</th>
                <td>Action</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Restrictions</th>
                <td>+6</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Country</th>
                <td>EU</td>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">IMBD Score</th>
                <td>9.9</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>