<div class="col-md-4 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">USER</h5>
      </div>
      <hr>
      <div class="card-body">
          <ul class="list-group list-group-flush">
              <div class="form-outline mb-4 row ">
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12">Username</li>
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12" >admin</li>
              </div>
              <div class="form-outline mb-4 row ">
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12">Email</li>
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12" >admin@climax.com</li>
              </div>
              <div class="form-outline mb-4 row ">
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12">Phone</li>
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12" >+352 123 456 789</li>
              </div>
              <div class="form-outline mb-4 row ">
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12">Movies</li>
                  <li class="col-form-label-user list-group-output d-flex justify-content-center align-items-center px-0 col-sm-12" >2</li>
              </div>
          </ul>
      </div>
    </div>
  </div>