body {background-color: rgb(255, 255, 255)}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgba(139, 183, 132, 0.7);
    height: 90px;

}

/* Navbar links */
#navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 55px;
}
.container1{
    position:static;
    width: 70%;
}

.image_stl{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.container2:hover .image_stl{
    width: 100%;
}
.container2 {
    position: relative;
    width: 30%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 40%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(139, 183, 132, 0.7);
}
.container2:hover .overlay {
    opacity: 1;
    width: 100%;
}
.text {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;}

.column{
    float: left;
    width: 40%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}