
    .movie {
        margin-bottom: 20px;
        height: 300px;
    }

    .poster {
        width: 200px;
        float: left;
    }
    .description {
        margin-left: 220px;
        margin-bottom: 50px;
        height: 250px;
    }
    .movie-box {
        width: 1400px;
        border-radius: 20px;
        border: 1px solid black;
        margin: auto;
        padding: 20px;
    }

    .navbar {
        width: 100%;
        background-color: rgba(139, 183, 132, 0.7);
        overflow: auto;

    }
    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar a:hover {
        background-color: #ddd;
        color: rgba(120, 157, 115, 0.7);;
    }
    .profile {
        float: right;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }