body{

	background-image: url("../images/background_1.jpg");
	background-repeat: repeat-y;
	background-size: 100%;

	margin-top: 5%;
	margin-left: 1%;
	margin-right: 1%;
}
.card{
	background-color: transparent;
	background-color: rgb(255, 255, 255,0.7);
}
.card-header{
	background-color: rgb(255, 255, 255,0.5);
}
.mb-0{
    display: flex;
    align-items: center;
    justify-content: center;
	font-style: bold;
	font-size: 20px;
}

/*Time table*/
.time-table{
	width: 100%;
	border-collapse: collapse;
}

.time-table td,.time-table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.time-table th{
	background-color: darkblue;
	color:#ffffff;
}

.time-table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked + label{
	width: 100%;
	background-color: #01cc65;
	color: white;
}
input[type="radio"]:checked + label::before{
	width: 100%;
	background-color: #01cc65;
	color: white;
}
input[type="radio"]:disabled + label::after{
	background-color: #d4200c7d;
}
/*responsive*/
@media(max-width: 1300px){
	.time-table thead{
		display: none;
	}

	.time-table, .time-table tbody, .time-table tr, .time-table td{
		display: block;
		width: 100%;
	}
	.time-table tr{
		margin-bottom:15px;
	}
	.time-table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.time-table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


/*end*/
#regForm {
    background-color: rgb(255, 255, 255,0.5);
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 25px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  .col-form-label {
    border-radius:25px;
    margin-left: 3%;
    margin-right:3%;
    height: 5%;
    font-weight:bold;
    background-color: rgb(255, 255, 255,0.5);
  }
  #table-label{
    border: 2px solid ;
    border-color: black;
  }
  .card-body{
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    background-color: rgb(132, 156, 183,0.7);
    border-radius: 25px;
  }


.span2 {
  width: 142px
}
.row-fluid .span2 {
  width: 14.91597%;
  *width: 14.86345%
}
.start-times .span2 {
  margin: -8px 0 10px 0;
  padding: 10px 10px
}
.start-times .span2:hover,.start-times .span3:hover {
  background-color: #e1e1e1
}

.start-times .span2.disabled,.start-times .span3.disabled {
  cursor: default
}

.start-times .span2.disabled a,.start-times .span3.disabled a {
  cursor: default;
  pointer-events: none
}

.start-times .span2.disabled:hover,.start-times .span3.disabled:hover {
  background: none
}
.ticket-align .span2 {
  padding-top: 15px
}
.date-desc-label {
  margin-bottom: 3px;
  margin-top: 3px
}
.date-desc .date-desc-label {
  display: block;
  text-transform: uppercase;
  font-family: 'brandongrotesque';
  font-weight: bold;
  margin-bottom: 10px
}
.row-fluid {
  width: 100%;
  *zoom:1}

.row-fluid:before,.row-fluid:after {
  display: table;
  content: "";
  line-height: 0
}

.row-fluid:after {
  clear: both
}

.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.10084%;
  *margin-left: 2.04832%
}
.row-fluid .span10 {
  width: 82.98319%;
  *width: 82.93067%
}
.start-times-wrapper .row-fluid:first-child {
  border-top: 0;
  padding-top: 5px
}

.start-times-wrapper .row-fluid .start-times {
  margin-bottom: 0;
  margin-top: 10px
}

.start-times-wrapper .row-fluid .start-times:first-child {
  margin-top: 0
}

.start-times-wrapper .row-fluid {
  padding: 0
}
.start-times .time-desc {
  font-weight: bold;
  margin-bottom: 3px;
  color: black
}

.start-times .time-desc span {
  font-size: 18px;
  margin-left: 6px
}
.start-times .span2:hover,.start-times .span3:hover {
  background-color: #e1e1e1
}
.start-times {
  margin: 0;
  padding: 0
}

.start-times-wrapper .row-fluid {
  margin-top: 0;
  height: auto;
  margin-left: 0px;
  padding-left: 10px
}

.start-times-wrapper .row-fluid:first-child {
  border-top: 0;
  padding-top: 5px
}

.start-times-wrapper .row-fluid .start-times {
  margin-bottom: 0;
  margin-top: 10px
}

.start-times-wrapper .row-fluid .start-times:first-child {
  margin-top: 0
}
.start-times .span3 {
  width: 116.5px
}
.time-desc {
  font-weight: bold;
  float: right
}
.start-times .time-desc {
  font-weight: bold;
  margin-bottom: 3px;
  color: black
}
.span3 .time-table .time-desc {
  font-weight: bold;
  float: right;
  padding-bottom: 15px;
  float: left;
  width: 100%
}


/*ticket icon*/
start-times .time-desc span {
  font-size: 18px;
  margin-left: 6px;
}
#red-font {
  background-color: rgba(255, 0, 0, 0.293);
  
  color: #de1619 !important;
}
.icon_20px_Ticket{
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon_20px_Ticket:before, .nav-mytickets-link:before, .ticket-link:before {
  content: "\e001";
}
/*p time*/
start-times .time-desc {
  font-weight: bold;
  margin-bottom: 3px;
  color: black;
}
.start-times p {
  margin: 0;
}
.content-page p {
  margin-bottom: 18px;
}
p {
  margin: 0 0 9px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*hall*/
.start-times .room-desc {
  color: black;
}
.start-times p {
  margin: 0;
}
.content-page p {
  margin-bottom: 18px;
}
p {
  margin: 0 0 9px;
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.start-times .span2.disabled a, .start-times .span3.disabled a {
  cursor: default;
  pointer-events: none;
}
a {
  color: #de1619;
  text-decoration: none;
}
/*a tag*/
a {
  color: white;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
  border-bottom: 1px solid #bbb;
}


#timeTable{
    display: flex;
    justify-content: space-evenly;
}


#table-radio{
  display: grid;
}
/*seats*/

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 36px;
  width: 40px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.seat.selected {
  background-color: green;
}
.checkbox{
  display: none;
}
.seat.sold {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}
