<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>clIMAX</title>
        <link rel="stylesheet" type="text/css" href="../css/login_page.css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="shortcut icon" href="../images/IMAX-logo.png">
    </head>
    <body>
        <div class="main">
            <h1>Forgotten password</h1>
            <form action="/passRecover" method="post">
                <p>A new password will be sent to your email, please check your inbox</p>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Type your email" required>
                </div>
                <button type="submit">Continue</button>
            </form>
        </div>
    </body>
</html>