<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/Home_page.css">
<head>
    <meta charset="UTF-8">
    <title>Films page</title>
</head>
<body>


<div id="navbar">
    <a style="float: right">User Page</a>
    <a style="float: left">CLIMAX</a>

</div>


<p style="color: white; font-size: 40px; text-align: center; font-family: 'serif'" >Please select the movie you like</p>

<div class="container2">
    <img class="image_stl" src="../images/blackpanther2.jpg" alt="Poster" >
    <div class="overlay">
        <div class="text" >Black Panther: Wakanda Forever</div>
    </div>
</div>
<div class="container2">
    <img class="image_stl" src="../images/blackadam.jpg" alt="Poster2">
    <div class="overlay">
        <div class="text">Black Adam</div>
    </div>
</body>
</html>
