<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/Home_page.css">
<head>
    <meta charset="UTF-8">
    <title>Films page</title>
</head>
<body>


    <div class="navbar">
        <a>CLimax</a>
        <a style="float: right" href="#profile" class="profile"><i class="fa fa-user-circle-o"></i> Profile</a>
    </div>
    
    <h1 style="margin-left: 45px">In a cinema near you</h1>
    <div class="movie-box">
        <div class="movie">
            <img src="../Posters/blackpanther2.jpg" class="poster" alt="Movie poster">
            <div class="description">
                <h2>Black Panther 2</h2>
                <p>Film incroyable vraiment je conseille </p>
            </div>
        </div>
        <div class="movie">
            <img src="../Posters/blackadam.jpg" class="poster" alt="Movie poster">
            <div class="description">
                <h2>Black Adam</h2>
                <p>jsp je l'ai pas regardé</p>
            </div>
        </div>
    </div>
</body>
</html>
