<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/Home_page.css">
<head>
    <meta charset="UTF-8">
    <title>Films page</title>
    <link rel="shortcut icon" href="../images/IMAX-logo.png">
</head>
<body>

    <div class="navbar">
        <a href="\">CLimax</a>
        <a href="\user"style="float: right" href="#profile" class="profile"><i class="fa fa-user-circle-o"></i> Profile</a>
    </div>
    
    <h1 style="margin-left: 45px">In a cinema near you</h1>
    <div class="movie-box">
        <div class="movie">
            <a href="\reservation">
            <img src="../Posters/blackpanther2.jpg" class="poster" alt="Movie poster">
            </a>
            <div class="description">
                <h2><%=data[0].movieName%></h2>
                <p>Descirption: <%data[0].description%>
                    Release date: <%data[0].releaseDate%>
                    Age restriction:
                    Genre:
                </p>
            
            </div>
        </div>
        <div class="movie">
            <img src="../Posters/blackadam.jpg" class="poster" alt="Movie poster">
            <div class="description">
                <h2>Black Adam</h2>
                <p>jsp je l'ai pas regardé</p>
            </div>
        </div>
    </div>
</body>


</html>
