<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>clIMAX</title>
        <link rel="stylesheet" type="text/css" href="../css/login_page.css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <!-- <link rel="shortcut icon" href=""> -->
    </head>
    <body>
        <div class="main">
            <h1>Login</h1>
            <p class="incorrect-passsword"><%= incorrect %></p>
            <form action="/ident" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Type your email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Type your password" required>
                </div>
                <a class="forgotten" href="/forgot">Forgot password?</a>
                <button type="submit">login</button>
            </form>
            <div class="new">
                <a href="/register">Create an account</a>
            </div>
        </div>
    </body>
</html>