<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>
<body >
<div class="row">
    <div class="col-md-8 mb-8">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Movie details</h5>
          
        </div>
        <hr>
        <div class="form-outline mb row justify-content-center">
          <a href="add_movie" id="add-btn" class="btn col-sm-3" selected>ADD</a>
          <a href="modify_movie" id="modify-btn"class="btn col-sm-3">MODIFY</a>
          <a href="time_table" id="timeTable-btn"class="btn col-sm-3">TIME TABLE</a>
        </div>
        <div class="card-body">
            <%- include("./forms/modify_movie_form.ejs") %>
        </div>
      </div>
    </div>
    <%- include("./cards/user_card.ejs") %>
</div>
</body>
<script src="../script/script-modify-movie.js"></script>
</html>