<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>clIMAX</title>
        <link rel="stylesheet" type="text/css" href="../css/login_page.css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <!-- <link rel="shortcut icon" href=""> -->
    </head>
    <body>
        <div class="main" style="margin-top: 20px; margin-bottom: 20px; padding-bottom: 25px;">
            <h1>Sign up</h1>
            <p class="incorrect-passsword"><%= incorrect %></p>
            <form action="/signUp" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Type your email" required>
                </div>
                <div>
                    <label for="password1">Password</label>
                    <input type="password" name="password1" id="password" placeholder="Type your password" required>
                </div>
                <div>
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="confPassword" placeholder="Type your password again" required>
                </div>
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" placeholder="Type your entire name" required>
                </div>
                <div>
                    <label for="phoneNumber">Phone Number (Optional)</label>
                    <input type="text" name="phoneNumber" id="phone" placeholder="Type your phone number">
                </div>
                <div>
                    <label for="birthday">Date of Birth</label>
                    <input type="date" name="birthdate" value="2000-11-18" min="1899-01-01" id="birthday" required>
                </div>
                <button type="submit" onclick="validatePassword(); validateNumber()">Sign up</button>
            </form>
            <div class="new">
                <a href="./login_page.html">Already have an account?</a>
            </div>
        </div>
    </body>
    <script src="../script/script-register.js"></script>
</html>