<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>clIMAX</title>
        <link rel="stylesheet" type="text/css" href="../css/login_page.css">
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="shortcut icon" href="../images/IMAX-logo.png">
    </head>
    <body>
        <div class="main">
            <h1>Login</h1>
            <form action="/test" enctype="multipart/form-data" method="post">
                <input type="text" name="prueba">
                <input type="file" name="myFile">
                <button type="submit">Upload the file</button>
            </form>
            <div class="new">
                <a href="/register">Create an account</a>
            </div>
        </div>
    </body>
</html>