<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="shortcut icon" href="../images/IMAX-logo.png">
</head>
<link rel="stylesheet" href="../css/user_page.css">
<script src="../script/script-user-page.js"></script>
<script>
  function openForm(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  </script>

<body>

    <div class="navbar">
        <a href="/">CLimax</a>
        <a href="/admin/add_movie" style="float: right;">Add Movie</a>
    </div>
    <div class="box">
        <h1>Profile Changes</h1>
        <div class="tab">
          <button class="tablinks" onmouseover="openForm(event, 'name')">Personal information</button>
          <button class="tablinks" onmouseover="openForm(event, 'email')">Email</button>
          <button class="tablinks" onmouseover="openForm(event, 'password')">Password</button>
        </div>

        <!-- Different form sections -->

        <div id="name" class="tabcontent">
          <form id="formname" method="post" onsubmit="return change_name()">
            <label for="fname">First Name: </label>
            <input type="text" id="fname" name="fname" required><br><br>
      
            <label for="lname">Last Name: </label>
            <input type="text" id="lname" name="lname" required><br><br>

            <label for="bday">Birthday: </label>
            <input type="date" id="bday" name="bday"><br><br> 
      
            <input type="submit" value="Change" id="name_change">
          </form>
        </div>
        <div id="email" method="post" class="tabcontent">
            <form id="formemail" onsubmit="return change_email()">
              <label for="old_email">Old email: </label>
              <input type="email" id="old_email" name="old_email" required><br><br>
              <label for="new_email">New email: </label>
              <input type="email" id="new_email" name="new_email" required><br><br> 
          
              <input type="submit" value="Change" id="email_change">
            </form>
          </div>
        <div id="password" class="tabcontent">
          <form id="formpass" method="post" onsubmit="return change_password()">
            <label for="password">Old password: </label>
            <input type="password" id="oldpassword" name="oldpassword" required><br><br>
            <label for="password">New password: </label>
            <input type="password" id="newpassword" name="newpassword" required><br><br>
            <label for="passwordrep">Retype password: </label>
            <input type="password" id="passwordrep" name="passwordrep" required><br><br>
            <input type="submit" value="Change" id="password_change">
          </form>
        </div>   

      </div>
   

<div class="box" style="width: 1000px; margin-left: 200px;height: auto" >
    <h1> Movies reserved</h1>
    <div class="reservations">
        <div class="reservation">
            <div class="movie-title">Movie Title 1</div>
            <div class="time">6:00pm</div>
            <div class="seat">Seat 12</div>
        </div>
        <div class="reservation">
            <div class="movie-title">Movie Title 2</div>
            <div class="time">8:00pm</div>
            <div class="seat">Seat 18</div>
        </div>
        <div class="reservation">
            <div class="movie-title">Movie Title 3</div>
            <div class="time">10:00pm</div>
            <div class="seat">Seat 25</div>
        </div>
    </div>
    </div>


</body>
</html>
